$border: 4px solid #000;
$border-radius: 10px;
$border-radius-input: 3px;

$active-color: #8B8B8B;
$no-active-color: #D8D8D8;

$error-border: 2px solid #D00000;

$earth-duration : 80000ms;
.row-centered{
  text-align: center;
}
.col-centered{
  margin: auto;
}
body{
  background-color: #fff;
}
/*start page*/
.start-wrapper{
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  .earth-block{
    position: absolute;
    width: 800px;
    height: 800px;
    top: 50%;
    left: 50%;
    margin-top: -400px;
    margin-left: -400px;
    img{
      width: 100%;
      height: 100%;
    }
  }
  .hello-world-block{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 296px;
    height: 200px;
    margin-top: -50px;
    margin-left: -148px;
    img{
      width: 100%;
      height: 100%;
    }
  }
}
.earth-spin{
  -webkit-animation-name: spin;
  -webkit-animation-duration: $earth-duration;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  -moz-animation-name: spin;
  -moz-animation-duration: $earth-duration;
  -moz-animation-iteration-count: infinite;
  -moz-animation-timing-function: linear;
  -ms-animation-name: spin;
  -ms-animation-duration: $earth-duration;
  -ms-animation-iteration-count: infinite;
  -ms-animation-timing-function: linear;

  animation-name: spin;
  animation-duration: $earth-duration;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
@-ms-keyframes spin {
  from { -ms-transform: rotate(0deg); }
  to { -ms-transform: rotate(360deg); }
}
@-moz-keyframes spin {
  from { -moz-transform: rotate(0deg); }
  to { -moz-transform: rotate(360deg); }
}
@-webkit-keyframes spin {
  from { -webkit-transform: rotate(0deg); }
  to { -webkit-transform: rotate(360deg); }
}
@keyframes spin {
  from {
    transform:rotate(0deg);
  }
  to {
    transform:rotate(360deg);
  }
}

/*start page end*/

.main-body-block{
  .flexbox{
    display: flex;
    justify-content: center;
    flex-direction: row;
    .flex-item{
      background-color: #fff;
      margin: 20px;
      padding: 20px;
      //height: 200px;
      width: 30%;
      border: 1px solid red;
    }
    .profile-block{
      .header-block{
        display: flex;
        flex-direction: row;
      }
      .achievments-block{

      }
      .description-block{

      }
    }
  }
  .header{
    display: flex;
    flex-direction: row;
    justify-content: center;
    .item{
      width: 50%;
      text-align: center;
      cursor: pointer;
    }
    .login-tab{
      font-size: 24px;
      border-radius : 30px 0px 0px 30px;
    }
    .register-tab{
      font-size: 24px;
      border-radius : 0px 30px 30px 0px;
    }
  }
  .body{
    .login-form-block{
      padding: 10px 5px;
      margin: 10px 0 0 0 ;
      background-color: #D3D3D3;
    }
    .reg-form-block{
      padding: 10px 5px;
      margin: 10px 0 0 0 ;
      background-color: #D3D3D3;
      display: none;
    }
  }
}
.chat-block{
  border: $border;
  border-radius: $border-radius;
  padding: 20px;
  height: 680px;
  .flexbox{
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    .flex-item{

    }
    .login-block{
      padding: 10px 10px 10px 10px;
      width: 25%;
      height: 100%;
      display: flex;
      flex-direction: column;
    }
    .work-block{
      padding: 10px 10px 10px 10px;
      display: flex;
      justify-content: space-between;
      flex-direction: row;
      width: 75%;
      //max-height: 100%;
      .messages-block{
        width: 85%;
        border: $border;
        border-radius: $border-radius;
        margin: 5px;
        display: flex;
        flex-direction: column;
        justify-content: stretch;
        overflow-y: scroll;
        .text-block{
          height: 90%;
          padding: 5px;
          border: 1px solid red;
          margin: 7px;
        }
        .input-block{
          padding: 5px;
          margin: 7px;
          height: 10%;
          border: $border;
          border-radius: $border-radius;
          resize: none;
          font-size: 22px;
        }
      }
      .users-block{
        width: 15%;
        border: $border;
        border-radius: $border-radius;
        margin: 5px;
      }
    }

    .chat-login{
      display: flex;
      flex-direction: column;
      margin-top: 50%;
      input{
        width: 40%;
        margin: auto;
        border: $border;
        border-radius: $border-radius-input;
        margin-bottom: 10px;
        padding: 5px 10px;
      }
      .text{
        font-size: 24px;
      }
      .submit{
        font-size: 24px;
        background-color: #000000;
        color: #fff;
      }

    }
  }
}

.common-form{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  .form-group{
    padding: 10px 5px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  label{
    font-size: 20px;
    width: 20%;
  }
  input{
    font-size: 18px;
    padding: 10px 5px;
    border-radius: 5px;
    width: 50%;
  }

}
.common-btn{
  border-radius: 5px;
  background-color: #B8B8B8;
}

.active{
  color: #fff;
  background-color: $active-color;
}
.no-active{
  color: $active-color;
  background-color: $no-active-color;
}
.error{
  border: $error-border;
}


/*animations vue*/
.earth-fade-enter-active{
   animation: earth-fade-in 2.5s;
 }
.earth-fade-leave-active{
  animation: earth-fade-in 2.5s reverse;
}
@keyframes  earth-fade-in{
  0%{
    transform: scale(20.0,20.0) rotate(0deg);
    opacity: 0.0;
  }
  50%{
    transform: scale(0.7,0.7) rotate(180deg);
    opacity: 0.8;
  }
  100%{
    transform: scale(1.0,1.0) rotate(0deg);
    opacity: 1.0;
  }
}

.hw-jump-enter-active{

}
.hw-jump-leave-active{
  animation: hw-jump-in 2.0s reverse;
}
@keyframes  hw-jump-in{
  0%{
    transform: scale(1.2,1.2);
    opacity: 0.0;
  }
  33%{
    transform: scale(1,1);
    opacity: .3;
  }
  66%{
    transform:scale(1.1,1.1);
    opacity: 0.6;
  }
  100%{
    transform: scale(1,1);
    opacity: 1.0;
  }
}